@model TerrariaDB.ViewModels.Terraria.TownNpc.TownNpcIndexViewModel

@{
    ViewData["Title"] = "Town NPCs";
}

<h1>Town NPCs</h1>

<div>
    <a asp-action="Index" asp-controller="Home">Back</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create</a>
    }
</div>

<div>
    <table>
        @foreach (var townNpc in Model.TownNpcs)
        {
            <tr>
                <td>
                    <div style="display: flex; flex-direction: column;">
                        <img src="@townNpc.Sprite"/>
                        <span>@townNpc.Name</span>
                    </div>
                </td>
                <td>
                    <div style="display: flex; flex-direction: row;">
                        <a asp-action="Details" asp-route-id="@townNpc.Id">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@townNpc.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@townNpc.Id">Delete</a>
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
