@model TerrariaDB.ViewModels.Terraria.Boss.BossIndexViewModel

@{
    ViewData["Title"] = "Bosses";
}

<h1>Bosses</h1>

<div>
    <a asp-action="Index" asp-controller="Home">Back</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create</a>
    }
</div>

<div>
    <table>
        @foreach (var boss in Model.Bosses)
        {
            <tr>
                <td>
                    <div style="display: flex; flex-direction: column;">
                        <img src="@boss.Sprite"/>
                        <span>@boss.Name</span>
                    </div>
                </td>
                <td>
                    <div style="display: flex; flex-direction: row;">
                        <a asp-action="Details" asp-route-id="@boss.Name">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@boss.Name">Edit</a>
                            <a asp-action="Delete" asp-route-id="@boss.Name">Delete</a>
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
