@model TerrariaDB.ViewModels.Terraria.Enemy.EnemyDetailsViewModel

@{
    ViewData["Title"] = "Enemy Details";
}

<h1>Enemy Details</h1>

<div>
    <a asp-action="Index">Back</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.EnemyId">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.EnemyId">Delete</a>
    }
</div>

<span>@Model.Name</span>

<span>@Model.Description</span>

<div style="display: flex; flex-direction: row;">
    @foreach (var transformation in Model.Transformations.Take(3))
    {
        <div>
            <div style="display: flex; flex-direction: column;">
                <img src="@transformation.Sprite" alt="@transformation.Name" />
                <span>@transformation.Name</span>
                <span>@transformation.EntityId</span>
            </div>
            <span>@transformation.ContactDamage</span>
            <span>Drop</span>
            <div style="display: flex; flex-direction: row; overflow-x: auto;">
                @foreach (var item in transformation.Drops.Take(5))
                {
                    <div style="display: flex; flex-direction: column;">
                        <img src="@item.Sprite" alt="@item.Name" />
                        <span>@item.Name</span>
                        <span>@item.Quantity</span>
                    </div>
                }
            </div>
        </div>
    }
</div>
