@model TerrariaDB.ViewModels.Terraria.Enemy.EnemyIndexViewModel

@{
    ViewData["Title"] = "Enemies";
}

<h1>Enemies</h1>

<div>
    <a asp-action="Index">Back</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create</a>
    }
</div>

<div>
    <table>
        @foreach (var enemy in Model.Enemies)
        {
            <tr>
                <td>
                    <div style="display: flex; flex-direction: column;">
                        <img src="@enemy.Sprite" alt="@enemy.Name" />
                        <span>@enemy.Name</span>
                    </div>
                </td>
                <td>
                    <div style="display: flex; flex-direction: row;">
                        <a asp-action="Details" asp-route-id="@enemy.Id">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@enemy.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@enemy.Id">Delete</a>
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
