@model TerrariaDB.ViewModels.Terraria.CraftingStation.CraftingStationDetailsViewModel

@{
    ViewData["Title"] = "Crafting Station Details";
}

<h1>Crafting Station Details</h1>

<div>
    <a asp-action="Index">Back</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.CraftingStationName">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.CraftingStationName">Delete</a>
    }
    <a asp-controller="Recipes"
       asp-action="Index"
       asp-route-craftingStation="@Model.CraftingStationName">
        Recipes
    </a>
</div>

<span>@Model.CraftingStationName</span>

<span>Represented By Items</span>

<div style="display: flex; flex-direction: row; overflow-x: auto;">
    @foreach (var item in Model.Items.Take(15))
    {
        <div style="display: flex; flex-direction: column;">
            <img src="@item.Sprite"/>
            <span>@item.Name</span>
        </div>
    }
</div>
