@model TerrariaDB.ViewModels.Terraria.Entity.EntityIndexViewModel

@{
    ViewData["Title"] = "Entities";
}

<h1>Entities</h1>

<div>
    <a asp-action="Index" asp-controller="Home">Back</a>
</div>

<div>
    <table>
        @foreach (var entity in Model.Entities)
        {
            <tr>
                <td>
                    <div style="display: flex; flex-direction: column;">
                        <img src="@entity.Sprite"/>
                        <span>@entity.Name (Game ID: @entity.Id)</span>
                    </div>
                </td>
                <td>
                    <div style="display: flex; flex-direction: row;">
                        @if (entity.Type == "BossPart")
                        {
                            <a asp-controller="Boss" asp-action="Details" asp-route-id="@entity.TypeId">Details</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="Boss" asp-action="Edit" asp-route-id="@entity.TypeId">Edit</a>
                                <a asp-controller="Boss" asp-action="Delete" asp-route-id="@entity.TypeId">Delete</a>
                            }
                        }
                        else if (entity.Type == "Enemy")
                        {
                            <a asp-controller="Enemy" asp-action="Details" asp-route-id="@entity.TypeId">Details</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="Enemy" asp-action="Edit" asp-route-id="@entity.TypeId">Edit</a>
                                <a asp-controller="Enemy" asp-action="Delete" asp-route-id="@entity.TypeId">Delete</a>
                            }
                        }
                        else if (entity.Type == "TownNpc")
                        {
                            <a asp-controller="TownNpc" asp-action="Details" asp-route-id="@entity.TypeId">Details</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="TownNpc" asp-action="Edit" asp-route-id="@entity.TypeId">Edit</a>
                                <a asp-controller="TownNpc" asp-action="Delete" asp-route-id="@entity.TypeId">Delete</a>
                            }
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
