@model TerrariaDB.ViewModels.Terraria.Item.ItemIndexViewModel

@{
    ViewData["Title"] = "Items";
}

<h1>Items</h1>

<div>
    <a asp-action="Index" asp-controller="Home">Back</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create</a>
    }
</div>

<div>
    <table>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <div style="display: flex; flex-direction: column;">
                        <img src="@item.Sprite"/>
                        <span>@item.Name</span>
                    </div>
                </td>
                <td>
                    <div style="display: flex; flex-direction: row;">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
